#activities-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 18%;
  margin-top: 14px;
  float: left;
}

#activities-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40vw;
  margin-bottom: -15px;
}

#activity-name, #activity-duration {
  font-size: 28px;
  letter-spacing: 0.025em;
  margin-left: 20px;
  margin-right: 20px;
}

#accomplishments-header {
  font-size: 40px;
  letter-spacing: 0.065em;
  margin-bottom: 5px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid;
}
#clear-fix::after {
  content: "";
  clear: both;
  display: table;
}

/* FORM STYLES */
#form-container {
  position: fixed;
  top: 50%; /* Position it halfway down the viewport */
  right: 15%; /* Optional: Position it 20px from the right */
  transform: translateY(-50%); /* Adjust its position to center it vertically */
  display: flex;
  flex-direction: column;
  width: 300px; /* Set a fixed width if needed */
  z-index: 50;
}

input[type=text] {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color:transparent;
  color: white;
}

input[type=text]:focus {
  outline: 1px solid #48A3FF;
  box-shadow: 0 0 8px #48A3FF;
}

input[type=submit] {
  width: 100%;
  background-color: #2d81d4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 10px #2d81d4;
}

input[type=submit]:hover {
  background-color: #3479d3;
}

#add-entry-text {
  margin-bottom: 5px;
}

#activity-scroll-control {
  height: 56vh;
  overflow-y: auto;
}

#activity-scroll-control::-webkit-scrollbar {
  width: 7px;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading {
  padding: 20px;
  color: white;
}

.loader {
  width: 1.5vh;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#4493e3 0 0);
  background: 
    var(--c) 0%   50%,
    var(--c) 50%  50%,
    var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}

@keyframes l1 {
  0%  {background-size: 20% 100%,20% 100%,20% 100%}
  33% {background-size: 20% 10% ,20% 100%,20% 100%}
  50% {background-size: 20% 100%,20% 10% ,20% 100%}
  66% {background-size: 20% 100%,20% 100%,20% 10% }
  100%{background-size: 20% 100%,20% 100%,20% 100%}
}