.row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40vw;
  gap: -1px;
}

#activity, #duration {
  font-size: 16px;
  padding-right: 20px;
  padding-left: 20px;
}