html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(18, 18, 18);
}

h1, h2, h3, h4, h5, h6, p {
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  font-family: Comfortaa;
}
